@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	изменения главной страницы
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #7f7f7f;
  color: rgba(255, 255, 255, 0.7);
  background: #fff;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 768px) {
  body {
    background-position: center center;
    background-repeat: no-repeat;
  }
}

a {
  color: #17e7a4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: grab;
  
}
a:hover, a:active, a:focus {
  color: #17e7a4;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 4000;
  margin: 0 0 30px 0;
}

h2 {
color: #b80000;
font-weight: 10px;
size: 1px;
background-color: rgba(94, 93, 93, 0.438);
background-size: -100px;
border-width: 1px;
  border-color: #dfdfdf;
}
::-webkit-selection {
  color: #fff;
  background: #0ce6c9;
}

::-moz-selection {
  color: #fff;
  background: #0ce6c9;
}

::selection {
  color: #fff;
  background: #0ce6c9;
}
/* глаавное окно */
#fh5co-main {
  max-width: 1000px;
  min-height: 700px;
  margin: 0em auto 5em auto;
  position: relative;
  background: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 2.5s; 
}
@media screen and (max-width: 768px) {
  #fh5co-main {
    margin: 2em .5em 5em .5em;
  }
}

.fh5co-tab-wrap {
  position: relative;
}
.fh5co-tab-wrap .fh5co-tab-menu {
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  top: -.5em;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu {
    top: -7px;
  }
/* изменение верхних окон */          
}                                     
.fh5co-tab-wrap .fh5co-tab-menu li {  
  display: -moz-inline-stack;         
  display: inline-block;              
  zoom: 1;                          
  display: inline;                    
  text-align: center;                 
  padding: 0;                         
  margin: 0;                       
}                                     
/* ------------------------------------*/
.fh5co-tab-wrap .fh5co-tab-menu :double-button {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  text-align: center;
  padding: 0;
  margin: 0;
}
.fh5co-tab-wrap .fh5co-tab-menu li a {
  padding: 2em 1em 1em 1em;
  position: relative;
  color: rgb(211, 194, 194);
  z-index: 10;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-tab-wrap .fh5co-tab-menu li a .icon {
  display: block;
  position: relative;
  font-size: 22px;
  bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-tab-wrap .fh5co-tab-menu li a .menu-text {
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  *position: fixed;
  z-index: 999;
}
@media screen and (max-width: 784px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a .menu-text {
    display: none;
    *position: fixed;
    z-index: 999;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a {
    padding: 1em .5em .5em .5em;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li a:after {
  position: absolute;
  content: "";
  height: 0;
  background: #0ce6c9;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover {
  color: #ffffff;
  text-decoration: none;
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover .icon {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a:hover .icon {
    bottom: 0px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover:after {
  height: 100%;
}
.fh5co-tab-wrap .fh5co-tab-menu li.active .icon {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li.active .icon {
    bottom: 0px;
  }
}
/* верхний блок кнопок*/
.fh5co-tab-wrap .fh5co-tab-menu li.active > a {
  color: #ff0000;
  text-decoration: none;
}
.fh5co-tab-wrap .fh5co-tab-menu li.active > a:after {
  height: 100%;
}
.fh5co-tab-wrap .fh5co-tab-content {
  padding-left: 4em;
  padding-right: 4em;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-content {
    padding-left: .5em;
    padding-right: .5em;
  }
}

.fh5co-tab-wrap .fh5co-tab-content.active {
  opacity: 1;
  visibility: visible;
}
.fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
  padding: 7em 2em 5em 2em;
  float: left;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
    padding: 4em .5em 5em .5em;
  }
}

figure {
  margin-bottom: 1.5em;
}

.fh5co-counter .fh5co-number {
  font-size: 100px;
  color: #17e7a4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: .7;
}
.fh5co-counter .fh5co-number.fh5co-left {
  float: left;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .fh5co-counter .fh5co-number.fh5co-left {
    width: 100%;
    line-height: 1.2;
  }
}
.fh5co-counter .fh5co-text {
  float: right;
  text-align: left;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .fh5co-counter .fh5co-text {
    width: 100%;
    text-align: center;
  }
}
.fh5co-counter .fh5co-text h3 {
  margin: 0;
  padding: 0;
  position: relative;
}
.fh5co-counter .fh5co-text h3.border-bottom:after {
  content: "";
  width: 50px;
}

.fh5co-social {
  padding: 0;
  margin: 0;
  text-align: center;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  font-size: 42px;
  color: #fff;
  padding: 10px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    padding: 10px 8px;
  }
}
.fh5co-social li a:hover {
  color: #f30606;
}
.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus {
  outline: none;
  text-decoration: none;
}

.fh5co-feature {
  text-align: left;
  width: 100%;
  float: left;
}
.fh5co-feature .fh5co-icon {
  float: left;
  width: 10%;
  display: block;
  margin-top: 5px;
}
.fh5co-feature .fh5co-icon i {
  color: #17e7a4;
  font-size: 40px;
}
.fh5co-feature .fh5co-text {
  float: right;
  width: 82%;
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature .fh5co-text {
    width: 72%;
  }

}
/* цвет верхник анимированных блоков */
.fh5co-feature .fh5co-text h2, .fh5co-feature .fh5co-text h3 {
  margin: 0;
  padding: 10px;
  border-width: 1px;
  border-color: #dfdfdf;
  border-width: 1px;
  border-color: #dfdfdf;
  *cursor: grab;
  

}
.fh5co-feature .fh5co-text h3 {
  font-weight: 300;
  margin-bottom: 10px;
  color: rgba(194, 11, 11, 0.8);
  font-size: 20px;
  *cursor: grab;
}
.fh5co-feature .fh5co-text h2 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  border-width: 1px;
  border-color: #dfdfdf;
  *cursor: grab;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 30px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
/* плашка с автором сайта */
#fh5co-footer {
  margin-top: 50px;
  background: rgb(58, 1, 1);
  clear: both;
  color: rgba(255, 255, 255, 0.842);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 7px 7px;
  line-height: 1.4;
}
#fh5co-footer small {
  font-size: 14px;
}
#fh5co-footer .fh5co-author {
  display: block;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-author {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}


.bolt1 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  padding: 0;
  float: right;
  width: 82%;
}


/* стилизация видео*/

.intro {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__media {
    position: absolute;
    left: 0;
    top: 900px;
    width: 100%;
    height: 100%;
    *overflow: hidden url(https://russia-rusty.gamestores.app/);
    background: #9c9c9c url(favicon.png) no-repeat center center;
    background-size: cover;
}

.intro__media::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.5)
}

.intro_media-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width:160%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.intro__content {
    position: static;
    z-index: 6;
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    height: 100px;
    
    
    
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: '';
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
}

/* счётчик времени */
.countdown {
  display: flex;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}
 
.countdown-item {
  margin: 0 20px;
  text-align: center;
}
 
.countdown-item span {
  display: block;
  font-size: 2em;
}
 
.label {
  font-size: 0.8em;
  color: #999;
}

/*.timer {
    border: 2px solid red;
    border-radius: 10px;
    border-width: 4px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 20px;
    position: absolute;
    text-align: center;
    margin-top: 200px;
    *min-width: 100px;
    *min-height: 100px;
    top: 1%;
    left: 1%;
    min-width:-100%;
    min-height: 1%;
}
            */
.kuku {
  display: block;
  size: 100px;
  color: #ffffff;
  border: 10px solid rgb(141, 141, 141);
  -ms-border-radius: 7px;
  border-width: 2px;
  line-height: 20px;
  border-left-width: 100px;
  border-right-width: 10px;
  border-style: groove;
  background-color: #000000;
  -webkit-transition: all 9.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 9.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 9.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 9.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 9.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 10px;
}


.language-switcher {
  max-width: 90px;
  z-index: 99;
  min-height: 7px;
  margin: 5em auto 5em auto;
  position: absolute;
  background: rgba(150, 11, 11, 0.87);
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.language-switcher button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 1.9s, transform 0.05s;
    cursor: grab;
    flex-direction: column;
  }
.language-switcher button:hover {
    background-color: #d60b0b;
    transform: scale(1.5);
    cursor: grab;
    flex-direction: column;
}

.language-buttons {
    font-family: "Source Sans Pro", Arial, sans-serif;
    *display: flex;
    position: absolute;
    gap: 12px;
    top: 20px;
    overflow: hidden;
    z-index: 99;
    *min-width: 7px;
    *min-height: 40px;
    transition: all 1.5s cubic-bezier(0.1725, 0.8285, 0.322, 1.2735);

    
}
.button {
    font-family: "Source Sans Pro", Arial, sans-serif;
    display: inline-block;
    padding: 15px 30px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #743131, #ca1010);
    border-radius: 5px;
    transition: all 0.9s ease;
    max-width: 90px;
    
}
.button:hover {
    font-family: "Source Sans Pro", Arial, sans-serif;
    background: linear-gradient(180deg, #7f807e, #cc1515);
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(1.175, 0.885, 0.32, 1.275);
}
